<div class="text-center"><h1><%= @cocktail.name %></h1>
<p>List of ingredients</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @cocktail[:photo].nil? %>
        <% @cocktail.photo = "_none_iizdyg"  %>
        <h2>Add your image</h2>
        <%= render 'form_add_image' %>
      <% else %>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <% end %>
      <hr>
    </div>
  </div>
  <% @cocktail.doses.each do |dose| %>
    <div class="row">
      <div class="col-xs-11 col-sm-5 col-sm-offset-3">
        <p><i class="fa fa-check" aria-hidden="true"></i><%= " #{dose.description } of #{dose.ingredient.name}"%></p>
      </div>
      <div class="col-xs-1 col-sm-1">
        <%= link_to "Remove", cocktail_dose_path(dose.cocktail_id, dose.id), method: :delete, class: "btn btn-lime btn-xs" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <hr>
      <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-lime" %>
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail.id), class: "btn btn-lime" %>

    </div>
  </div>

</div>
